<div class="modal-header" style="background: #343a40;color: #fff;">
    <h5 class="modal-title">DRAFT PLAYER</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModalDraft('dismiss')">
        <span aria-hidden="true" style="color: #fff;">&times;</span>
    </button>
</div>
<div id=draftplayersinglegame>
    <div class="container-fluid">
        <!-- <app-header></app-header> -->
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12  pos">
                        <!-- <button type="button" class="previos_btn ml-3" (click)="backClicked()">
                            <i class="fa fa-chevron-left mr-2" aria-hidden="true"></i></button>
                            <h1>Draft player</h1> -->
                            <div class="sortable_right_content read ">
                                <span> <button class="btn_clear" (click)="replace()">REPLACE</button></span>
                                <span> <button class="btn_clean" (click)="add()" >ADD</button></span>
                                <span> <button class="btn_clear" (click)="setPlayerDraft()">OK</button></span> 
                                <span> <button class="btn_clean" (click)="closeModalDraft('dismiss')">CANCEL</button></span>
                            </div>
                            <h3 class="margin">{{draftTeam}} - {{leag_name}}</h3>
                            
                    </div>
                    <div class="col-md-12 col-12 tm" id="table">                        
                        <div class="datatable pt-5">                            
                            <div class="row rowr mt-6">                                
                                <div class="col-md-2 top-dark-row-substituttion">                                    
                                    <h4 class="mb-2 dark-row-choose datatable1 head_font">  CHOOSE A SEASON </h4>
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                            <div class="leagues-teams-box-items">
                                                <table   class= "table table-borderless d">
                                                    <tbody>
                                                            <tr  *ngFor="let season of this.seasson_arry; let i=index;" [ngClass]="{'activeRow': season.activeRow}"> <!--[ngClass]="{'activeRow': value.activeRow}"-->
                                                                <td  class="list-group  pointer fonts " (click)="session_list(season)">
                                                                {{season.league_name}}    
                                                                </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>



                                <div class="col-md-2 top-dark-row-substituttion">
                                    
                                    <h4 class="mb-2 dark-row-teams-d datatable1 head_font">  TEAMS TO DRAFT FROM </h4>
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                            <div class="leagues-teams-box-items">
                                                <table   class= "table table-striped b ">
                                                    <tbody>
                                                            <tr  *ngFor="let value of this.teamData1;let i=index;" [ngClass]="{'activeRow': value.activeRow}">
                                                                <td  class="list-group  pointer fontd " (click)="playertodraft(value)">{{value.teams}} 

                                                                </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>

                                

                                <div class="col-md-4 top-dark-row-substituttion">
                                    <h4 class="mb-2 dark-row-player-d head_font"> PLAYERS TO DRAFT  </h4>  
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague" >
                                            <div class="leagues-teams-box-items">
                                                <table class="table table-borderless a "> 
                                                    <tbody>
                                                        <tr  *ngFor="let value of this.draftData;let i=index;" [ngClass]="{'activeRow': value.activeRow}" (click)="draftTeamReplace(value)">  
                                                        
                                                            <td class="pointer fontp">{{value.orig_year}}</td> 
                                                            <td class="pointer fontp" > {{value.orig_team_code}} </td>
                                                            <td class=" pointer  fontp"  >{{value.player_name}}</td> 
                                                            <td class="pointer fontp" > {{value.positions}} </td>
                                                            <td class="pointer fontp" > {{value.height}} </td>
                                                        
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>

                                
                                



                                <div class="col-md-4 top-dark-row-substituttion">
                                    <h4 class="mb-2 dark-row-replace head_font"> PLAYERS TO REPLACE/ ADD- {{draftTeam}} - {{leag_name}} </h4>  
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                            <div class="leagues-teams-box-items">
                                                <table class="table table-borderless a" >  <!--   table-sm -->
                                                    <tbody>
                                                        <tr  *ngFor="let value of draftTeamData;let i=index;"   [ngClass]="{'activeRow': value.activeRow}" (click)="draftTeamPlayerData(value,i)"> 
                                                            <td class="pointer fontpr">{{value.orig_year}}</td> 
                                                            <td class="pointer fontpr" > {{value.orig_team_code}} </td>
                                                            <td class=" pointer  fontpr" >{{value.player_name}}</td> 
                                                            
                                                            <td class="pointer fontpr" > {{value.positions}} </td>
                                                            <td class="pointer fontpr" > {{value.height}} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>
                        
                
                            </div>


                            <div class="path"> 
                                <span> <button class="btn_ok" (click)="setPlayerDraft()">OK</button></span> 
                                <span> <button class="btn_cancel" (click)="closeModalDraft('dismiss')">CANCEL</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    