<div id="rowboxscores">
    <div class="container-fluid">
        <!-- <app-header></app-header> -->
             <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-12 pb-4 " >
                            <div class="bg">
                                <div class="heading">
                                <h1 class="h" >RAW BOX SCORE / PLAY BY PLAY </h1>
                                </div>
                                <!-- <ol class="breadcrumb col-md-7 bread_mrgin">
                                    <li class="breadcrumb-item point hover_clr" *ngIf="this.oneononeData == 'oneonone'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"'>1 on 1 Matchup </a></li>                  
                                     <li class="breadcrumb-item point hover_clr" *ngIf="this.allTheTeams == 'playallteam'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"'>Play with All teams </a></li>                  
                                     <li class="breadcrumb-item point hover_clr" *ngIf="this.allTheTeams == 'allteam'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"' >Replay entire season</a></li>
                                    <li class="breadcrumb-item  point hover_clr"><a  class="a_color" [routerLink]='"/dashboard3/playwithallteam"'>{{leag_name}} </a> </li>
                                </ol> -->

                                <div class="righth ">  
                                <div class="input-group">
                                    <input type="text" name="data" class="form-control"  id="input" placeholder="Text" [(ngModel)]="findInput.data" (keyup.enter)="findThe()" >&nbsp;&nbsp;
                                    <button type="button" (click)="findThe()" class="btn_black">Find</button>                           
                                </div>

                                <!-- <div class="right">  
                                    <div class="input-group">
                                       <input type="text" name="data" class="form-control" id="input" placeholder="Text" [(ngModel)]="findInput.data" (keyup.enter)="findTheP()">&nbsp;&nbsp; 
                                       <button type="button" class="btn_black" (click)="findTheP()" >Find</button>
                                    </div>
                                </div> -->

                                </div>                            
                            </div>
                        </div>
                    </div>
                   

                    <div class="row" >
                        <div class="col-md-5 col-12" >
                            <div class="raw-container1">                       
                                <p-table  [columns]="scrollableCols"    [value]="this.getTableData"
                                         [scrollable]="true" scrollHeight="calc(100vh - 297px) "  sortMode="multiple" >  
                                    <ng-template pTemplate="colgroup" let-columns >
                                        <colgroup > <col *ngFor="let col of columns"> </colgroup>
                                    </ng-template>

                                    <ng-template pTemplate="header" let-columns >
                                        <tr style="position: relative;">
                                            <th *ngFor="let col of columns"  class="button hr  fnt_media">{{col.header}}</th> <!---->
                                            <th class="hr fnt_media">SCORE</th>
                                            <th class="hr" *ngIf="!playdis" colspan="2"></th> 
                                            <th class="hr" *ngIf="playdis" colspan="4"></th> 
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns"  >
                                        <tr  [ngClass]="{'activeRow': rowData.activeRow}" (click)="selectTeamData(rowData)" [pEditableRow]="rowData" class="fnt_media marg fnt"> 
                                            <td *ngFor="let col of columns; let i=index" class="t"  >{{rowData[col.field]}}</td> 
                                            <td class="i">{{rowData.team1_score}} - {{rowData.team2_score}}</td>
                                            <td *ngIf="playdis" class="t" colspan="2"><button pButton type="button" label="Play By Play" class="bk bt"  (click)="addDiv(rowData,'single')"  ></button> </td>
                                            <td class="t" colspan="2"><button pButton type="button" label="Raw Box Score" class="bk btt" (click)="addDiv(rowData,'multi') "   ></button> </td>  
                                        </tr>
                                     </ng-template>
                                </p-table>

                            

                            </div>
                        </div>

                        <div class="col-md-7 col-12 searchContent"  id="table">
                            <div class="datatable pt-5  ">
                                
                                    <div class="raw-containerrr ab " id="scrollParent" *ngIf="rawBoxScore.length > 0">
                                        <div *ngFor="let item of this.rawBoxScore;let i = index" [id]="i">
                                            <div style="white-space: pre"> {{item.text}}</div>
                                        </div>
                                    </div>
                            

                                <div class="popup" *ngIf="comments.length > 0">
                                    <p-scrollPanel [style]="{width: '100%'}" styleClass="customtablescroll3"  >
    
                                        <ng-container > 
                                        
                                        <div  class="media_font" *ngFor="let item of comments; let i = index" [id]="i">
    
                                            <div  class="commentboxx">
                                       <div class="text-comments  popup_zero"   *ngIf= "item.color === '0'"  >
                                            <p>{{item.text}}</p>
    
                                        </div>
                                        
                                        <div class="text-comments  popup_left"   *ngIf= "item.color === '1'"  >
                                            <p>{{item.text}}</p>
    
                                        </div>
                                        <div class="text-comments  popup_right"   *ngIf= "item.color === '2'"  >
                                            <p>{{item.text}}</p>
                                        </div>
                                     </div>
                                    </div>
                                        </ng-container>                                
                                    </p-scrollPanel>
                                </div>            
                            </div>                
                        </div>

                    </div>

                </div>
            </div>    
    </div>
</div>