<div id=draftplayer>
    <div class="container-fluid">
        <!-- <app-header></app-header> -->
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12  pos">
                        <!-- <button type="button" class="previos_btn ml-3" (click)="backClicked()">
                            <i class="fa fa-chevron-left mr-2" aria-hidden="true"></i></button>
                            <h1>Draft player</h1> -->
                            <div class="sortable_right_content read ">
                                <span> <button class="btn_clear" (click)="replace()">REPLACE</button></span>
                                <span> <button class="btn_clean" (click)="add()" >ADD</button></span>
                                <span> <button class="btn_clear" (click)="setPlayerDraft()">OK</button></span> 
                                <span> <button class="btn_clean" (click)="closed()">CANCEL</button></span>
                            </div> 
                            <!-- <ol class="breadcrumb col-md-7 bread_mrgin">                                           
                                <li class="breadcrumb-item point hover_clr" *ngIf="this.oneononeData == 'oneonone'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"' >1 on 1 Matchup </a></li>                  
                                <li class="breadcrumb-item point hover_clr" *ngIf="this.allTheTeams == 'playallteam'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"' >Play with All teams </a></li>                  
                                <li class="breadcrumb-item point hover_clr" *ngIf="this.allTheTeams == 'allteam'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"' >Replay entire season</a></li>
                                <li class="breadcrumb-item  point hover_clr"><a  class="a_color" [routerLink]='"/dashboard3/playwithallteam"' >{{leag_name}} </a> </li>
                                <li class="breadcrumb-item active point hover_clr" > <a class="a_color" [routerLink]='"/dashboard3/advancedsettingqtrtable"' > Advance setting</a></li>
                              </ol> -->

                            <h3 class="margin"  *ngIf="this.oneononeData == 'playallteam'">{{draftTeam }} - {{draftTeamA}}</h3> 

                            <div class="form-group col-2 bread" *ngIf="this.oneononeData == 'allteam'">
                                <label for="exampleFormControlSelect1"></label>
                                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="team_name" (change)="changeTeam($event)">
                                  <option *ngFor="let item of teamData" [value]="item.teams">{{item.teams}}</option>
                                </select>
                            </div>

                            <div class="form-group col-2  yo"  *ngIf="this.oneononeData == 'oneonone'">
                                <label for="exampleFormControlSelect1"></label>                            
                                  <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="team_name" (change)="changeTeam($event)">
                                    <option *ngFor="let item of gameData">{{item}}</option>                    
                                </select>
                              </div>
                            
                    </div>
                    <div class="col-md-12 col-12 tm" id="table">                        
                        <div class="datatable pt-5">                            
                            <div class="row rowr mt-6">                                
                                <div class="col-md-2 top-dark-row-substituttion">                                    
                                    <h4 class="mb-2 dark-row-choose datatable1 head_font">  CHOOSE A SEASON </h4>
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                            <div class="leagues-teams-box-items">
                                                <table   class= "table table-borderless d">
                                                    <tbody>
                                                            <tr  *ngFor="let season of this.seasson_arry; let i=index;" [ngClass]="{'activeRow': season.activeRow}"> <!--[ngClass]="{'activeRow': value.activeRow}"-->
                                                                <td  class="list-group  pointer fonts " (click)="session_list(season)">
                                                                {{season.league_name}}    
                                                                </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>



                                <div class="col-md-2 top-dark-row-substituttion">
                                    
                                    <h4 class="mb-2 dark-row-teams-d datatable1 head_font">  TEAMS TO DRAFT FROM </h4>
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                            <div class="leagues-teams-box-items">
                                                <table   class= "table table-striped b ">
                                                    <tbody>
                                                            <tr  *ngFor="let value of this.teamData1;let i=index;" [ngClass]="{'activeRow': value.activeRow}">
                                                                <td  class="list-group  pointer fontd " (click)="playertodraft(value)">{{value.teams}} 

                                                                </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>

                                

                                <div class="col-md-4 top-dark-row-substituttion">
                                    <h4 class="mb-2 dark-row-player-d head_font"> PLAYERS TO DRAFT  </h4>  
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague" >
                                            <div class="leagues-teams-box-items">
                                                <table class="table table-borderless a "> 
                                                    <tbody>
                                                        <tr  *ngFor="let value of this.draftData;let i=index;" [ngClass]="{'activeRow': value.activeRow}" (click)="draftTeamReplace(value)">  
                                                        
                                                            <td class="pointer fontp">{{value.orig_year}}</td> 
                                                            <td class="pointer fontp" > {{value.orig_team_code}} </td>
                                                            <td class=" pointer  fontp"  >{{value.player_name}}</td> 
                                                            <td class="pointer fontp" > {{value.positions}} </td>
                                                            <td class="pointer fontp" > {{value.height}} </td>
                                                        
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>

                                
                                



                                <div class="col-md-4 top-dark-row-substituttion">
                                    <h4 class="mb-2 dark-row-replace head_font"> PLAYERS TO REPLACE/ ADD- {{draftTeam}} - {{draftTeamA}} </h4>  
                                    <div class="leagues-teams-box">
                                        <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                            <div class="leagues-teams-box-items">
                                                <table class="table table-borderless a" >  <!--   table-sm -->
                                                    <tbody>
                                                        <tr  *ngFor="let value of draftTeamData;let i=index;"   [ngClass]="{'activeRow': value.activeRow}" (click)="draftTeamPlayerData(value,i)"> 
                                                            <td class="pointer fontpr">{{value.orig_year}}</td> 
                                                            <td class="pointer fontpr" > {{value.orig_team_code}} </td>
                                                            <td class=" pointer  fontpr" >{{value.player_name}}</td> 
                                                            
                                                            <td class="pointer fontpr" > {{value.positions}} </td>
                                                            <td class="pointer fontpr" > {{value.height}} </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </p-scrollPanel>
                                    </div>
                                </div>
                        
                
                            </div>


                            <div class="path"> 
                                <span> <button class="btn_ok" (click)="setPlayerDraft()">OK</button></span> 
                                <span> <button class="btn_cancel" (click)="closed()">CANCEL</button></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    