<div id="actualPlayerStatistics">
    <div class="container-fluid">
        <!-- <app-header></app-header> -->
        <div class="row">
            <div class="container-fluid container-width">
                <div class="body row">
                    <div class="col-md-12 col-12 pb-4">
                        <button type="button" class="previos_btn ml-3" [routerLink]="['/dashboard']"><i
                                class="fa fa-chevron-left mr-2" aria-hidden="true"></i>  </button>
                    </div>
                    <div class="col-md-12">
                        <h3 class="m-0">ACTUAL PLAYER STATISTICS</h3>
                        <div class="row mt-5">
                            <div class="col-md-3">
                                <h4 class="mb-2">LEAGUES</h4>
                                <div class="leagues-teams-box">
                                    <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                        <div class="leagues-teams-box-items">
                                            <h5 class="leagues-teams-box-item " *ngFor="let value of this.getLeaguesData; let i = index" (click)="selectLeague(value, i)" [class.activeItem]="selectedIndex === i">{{value.league_name}}</h5>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4 class="mb-2">TEAMS</h4>
                                <div class="leagues-teams-box">
                                    <p-scrollPanel [style]="{width: '100%'}" styleClass="customactualteamleague">
                                        <div class="leagues-teams-box-items">
                                            <h5 class="leagues-teams-box-item" *ngFor="let value of this.getTeamsData; let i = index" (click)="selectTeam(value, i)" [class.activeItem]="selectedIndexTeam === i">{{value.teams}}</h5>
                                        </div>
                                    </p-scrollPanel>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12" id="table">
                        <div class="datatable">
                            <h4 class="m-0">{{teamName}}</h4>
                            <div class="table-responsive-sm">
                                <p-scrollPanel [style]="{width: '100%'}" styleClass="customtablescroll1">
                                    <table class="table table-striped tablescroll">
                                        <thead class="table-dark sticky" style="position: sticky;">
                                            <tr style="font-family: sans-serif !important; font-weight: lighter !important;">
                                                <th class="note1 pl-5">PLAYERS NAME</th>
                                                <th>POS</th>
                                                <th>HT</th>
                                                <th>G</th>
                                                <th>MIN</th>
                                                <th>MIN/G</th>
                                                <th>PTS/G</th>
                                                <th>FG%</th>
                                                <th>SCORE FG%</th>
                                                <th>2PT FG%</th>
                                                <th>3PT FG%</th>
                                                <th>FT%</th>
                                                <th>OFF REB</th>
                                                <th>DEF REB</th>
                                                <th>TOT REB</th>
                                                <th>DEF RAT</th>
                                                <th>%PF</th>
                                                <th>%ST</th>
                                                <th class="note2 pr-5">%BS</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="this.getTableData && this.getTableData.length > 0; else noRecord">
                                            <tr *ngFor="let value of this.getTableData">
                                                <td class="pl-5">{{value.name}}</td>
                                                <td>{{value.positions}}</td>
                                                <td>{{value.height}}</td>
                                                <td>{{value.g}}</td>
                                                <td>{{value.min}}</td>
                                                <td>{{value.ming}}</td>
                                                <td>{{value.ptsg | number:'1.0-1'}}</td>
                                                <td>{{value.fgpct | number:'1.0-1'}}</td>
                                                <td>{{value.scorefgpct | number:'1.0-1'}}</td>
                                                <td>{{value.twoptfgpct | number:'1.0-1'}}</td>
                                                <td>{{value.threeptfgpct | number:'1.0-1'}}</td>
                                                <td>{{value.ftpct | number:'1.0-1'}}</td>
                                                <td>{{value.offreb | number:'1.0-1'}}</td>
                                                <td>{{value.defreb | number:'1.0-1'}}</td>
                                                <td>{{value.totreb | number:'1.0-1'}}</td>
                                                <td>{{value.defrat}}</td>
                                                <td>{{value.pctpf | number:'1.0-1'}}</td>
                                                <td>{{value.pctst | number:'1.0-1'}}</td>
                                                <td>{{value.pctbs | number:'1.0-1'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p-scrollPanel>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <ng-template #noRecord >
            <tr class="notrecordfound"><td colspan="4">No Record Found</td></tr>
        </ng-template>
    </div>
</div>