<div class="modal-header" style="background: #343a40;color: #fff;">
    <h5 class="modal-title">SUBSTITUTION PATTERN</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true" style="color: #fff;">&times;</span>
    </button>
</div>
<div id="substitutionpatternsinglegame">
    <div class="container-fluid">
        <!-- <app-header></app-header> -->

        <div class="row">
            <div class="container-fluid mysubtitutionpage">
                <div class="row"> 
                    <div class="col-md-12 col-12 fmar">
                        <div class="row">
                            <!-- <div class="col-md-4">
                                <button type="button" class="previos_btn ml-3" (click)="backClicked()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i></button>
                            </div> -->
                            <!-- <h1>Substitution Pattern</h1> -->
                            </div>

                            <!-- <ol class="breadcrumb col-md-6 bread_mrgin">
                                <li class="breadcrumb-item point hover_clr" *ngIf="this.gameStatus == 'oneonone'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"'>1 on 1 Matchup </a></li>                  
                                <li class="breadcrumb-item point hover_clr" *ngIf="this.allTheTeams == 'playallteam'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"'>Play with All teams </a></li>                  
                                <li class="breadcrumb-item point hover_clr" *ngIf="this.allTheTeams == 'allteam'"><a class="a_color" [routerLink]='"/dashboard/chooseteam"'>Replay entire season</a></li>
                                <li class="breadcrumb-item  point hover_clr"><a  class="a_color" [routerLink]='"/dashboard3/playwithallteam"'>{{leag_name}} </a> </li>
                                <li class="breadcrumb-item active point hover_clr" aria-current="page"> <a class="a_color" [routerLink]='"/dashboard3/advancedsettingqtrtable"'> Advance setting</a></li>
                            </ol> -->
                            <h2 class="z"  *ngIf="this.gameStatus == 'playallteam'">{{draftTeam}} - {{draftTeamA}}</h2>
                            <div class="form-group col-2 bread" *ngIf="this.gameStatus != 'playallteam'">
                                <label for="exampleFormControlSelect1"></label>
                                <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="team_name" (change)="changeTeam($event)">
                                  <option *ngFor="let item of gameData">{{item}}</option>
                                </select>
                            </div>                           


                    </div>

                    <div class="col-md-12 col-12 poss" id="table">
                        <div class="datatable">                   

                            <div class="row mt-6">

                                <div class="col-md-8"> <!--col-md-9--> 
                                    <div>
                                        <div class="leagues-teams-box plr-15">
                                            <div class="leagues-teams-box col-md-12">
                                                <div class="row dark-row-substitution "> <!--media_font-->
                                                    <div class="col-md-4">
                                                        <div class="row dark-row-substitution after_card1 top-dark-row-substituttion">
                                                            <div class="col-md-4 p">POS</div>
                                                            <div class="col-md-8 nn">NAME</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row dark-row-substitution">
                                                            <div class="col-md-4 pq">POS</div>
                                                            <div class="col-md-8 nm">NAME</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row dark-row-substitution after_card2 top-dark-row-substituttionn">
                                                            <div class="col-md-4  pp">POS</div>
                                                            <div class="col-md-8 n">NAME</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        <ng-container *ngFor="let item of listData; let i = index;"> 
                                            <div> 
                                                <div class="leagues-teams-box plr-15 media_font">
                                                    <ng-container>
                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title point">
                                                                <ng-container *ngIf="i < 4">
                                                                    <ng-container *ngIf="i === 0">
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title ">
                                                                                <div class="col-md-4 qtr">QTR - 1</div>
                                                                                <div class="col-md-8 number_txt_clr  zff">0-4</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr fe">4-8</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr et">8-12</div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="i === 1">
                                                                        <div class="col-md-4 ">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4 qtr">QTR - 2</div>
                                                                                <div class="col-md-8 number_txt_clr zf">12-16</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr fe">16-20</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr et">20-24</div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="i === 2">
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4 qtr">QTR - 3</div>
                                                                                <div class="col-md-8 number_txt_clr zf">24-28</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr fe">28-32</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr et">32-36</div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="i === 3">
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4 qtr">QTR - 4</div>
                                                                                <div class="col-md-8 number_txt_clr zf">36-40</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr fe">40-44</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="row dark-row-substitution-inner dark-row-substitution-inner-title">
                                                                                <div class="col-md-4"></div>
                                                                                <div class="col-md-8 number_txt_clr et">44-48</div>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </div>

                                                            <div class="row ">   
                                                                <div class="col-md-4" *ngFor="let op of item;let j = index" >
                                                                    <div class="row dark-row-substitution-inner">
                                                                        <div class="col-4 cs">
                                                                            C
                                                                        </div>                                                                          
                                                                        <!-- <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': (getTRetrunSelect(op.pos1,i,j,1) && static_Id == 1)? true : false}" > -->
                                                                            <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': getTRetrunSelect(op.pos1,i,j,1)? true : false}" > 
                                                                                <label class="pointer"> 
                                                                                    <input type="radio"  style="visibility: hidden;" (change)="multiCheck($event,op,op.pos1,i,j,1)"  class="form-check-input" id="radio1" [ngModel]="CheckValue" name="pos{{i}}{{j}}" [value]="op.pos1+'1'">
                                                                                    {{op.pos1}}
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-8 pointer gh" (click)="selectPlayerl(op,op.pos1,i,j,1)" *ngIf="!this.checkedValue" [ngClass]="{'bgYellow': (selectedPlayer && selectedPlayer.player_name == op.pos1 && isLocate == true) || (one_click==i && button_single==j &&selectedPlayer.player_name === op.pos1  && static_Id == 1) ? true : false} "> 
                                                                                <div >
                                                                                    {{op.pos1}}
                                                                                </div>                                                                                
                                                                            </div>                                                                             
                                                                    </div> 

                                                                    <div class="row dark-row-substitution-inner" >
                                                                        <div class="col-4 cs">
                                                                            PF
                                                                        </div>                                                                    
                                                                        <!-- <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': (getTRetrunSelect(op.pos1,i,j,2) && static_Id == 2)? true : false}" > -->
                                                                            <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': getTRetrunSelect(op.pos2,i,j,2)? true : false}" >  
                                                                                <label class="pointer">           
                                                                                    <input type="radio" style="visibility: hidden;" (change)="multiCheck($event,op,op.pos2,i,j,2)"  class="form-check-input" id="radio1" [ngModel]="CheckValue" name="pos{{i}}{{j}}" [value]="op.pos2+'2'">
                                                                                    {{op.pos2}}
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-8 pointer gh" (click)="selectPlayerl(op,op.pos2,i,j,2)" *ngIf="!this.checkedValue" [ngClass]="{'bgYellow': (selectedPlayer && selectedPlayer.player_name == op.pos2 && isLocate == true) || (one_click==i && button_single==j &&selectedPlayer.player_name === op.pos2  && static_Id == 2) ? true : false} "> 
                                                                                <div >
                                                                                    {{op.pos2}}
                                                                                </div>                                                                                
                                                                            </div>
                                                                    </div> 

                                                                    <div class="row dark-row-substitution-inner">
                                                                        <div class="col-4 cs">
                                                                            SF
                                                                        </div>                                                                         
                                                                        <!-- <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': (getTRetrunSelect(op.pos1,i,j,3) && static_Id == 3)? true : false}" > -->
                                                                                <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': getTRetrunSelect(op.pos3,i,j,3)? true : false}" > 
                                                                            <label class="pointer"> 
                                                                                <input type="radio" style="visibility: hidden;" (change)="multiCheck($event,op,op.pos3,i,j,3)"  class="form-check-input" id="radio1" [ngModel]="CheckValue" name="pos{{i}}{{j}}" [value]="op.pos3+'3'">
                                                                                {{op.pos3}}
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-8 pointer gh" (click)="selectPlayerl(op,op.pos3,i,j,3)" *ngIf="!this.checkedValue" [ngClass]="{'bgYellow': (selectedPlayer && selectedPlayer.player_name == op.pos3 && isLocate == true) || (one_click==i && button_single==j &&selectedPlayer.player_name === op.pos3  && static_Id == 3) ? true : false} "> 
                                                                            <div >
                                                                                {{op.pos3}}
                                                                            </div>                                                                                
                                                                        </div>
                                                                    </div> 

                                                                    <div class="row dark-row-substitution-inner">
                                                                        <div class="col-4 cs">
                                                                            SG
                                                                        </div>                                                                            
                                                                        <!-- <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': (getTRetrunSelect(op.pos1,i,j,4) && static_Id == 4)? true : false}" > -->
                                                                            <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': getTRetrunSelect(op.pos4,i,j,4)? true : false}" > 
                                                                            <label class="pointer"> 
                                                                                <input type="radio"  style="visibility: hidden;" (change)="multiCheck($event,op,op.pos4,i,j,4)"  class="form-check-input" id="radio1" [ngModel]="CheckValue" name="pos{{i}}{{j}}" [value]="op.pos4+'4'">
                                                                                {{op.pos4}}
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-8 pointer gh" (click)="selectPlayerl(op,op.pos4,i,j,4)" *ngIf="!this.checkedValue" [ngClass]="{'bgYellow': (selectedPlayer && selectedPlayer.player_name == op.pos4 && isLocate == true) || (one_click==i && button_single==j &&selectedPlayer.player_name === op.pos4  && static_Id == 4) ? true : false} "> 
                                                                            <div >
                                                                                {{op.pos4}}
                                                                            </div>                                                                                
                                                                        </div>
                                                                    </div> 
                                                                    
                                                                    <div class="row dark-row-substitution-inner">
                                                                        <div class="col-4 cs">
                                                                            PG
                                                                        </div>                                                                   
                                                                        <!-- <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': (getTRetrunSelect(op.pos1,i,j,5) && static_Id == 5)? true : false}" > -->
                                                                        <div class="col-8 pointer" *ngIf="this.checkedValue" [ngClass]="{'bgYellow': getTRetrunSelect(op.pos5,i,j,5)? true : false}" > 
                                                                            <label class="pointer">  
                                                                                <input type="radio"  style="visibility: hidden;" (change)="multiCheck($event,op,op.pos5,i,j,5)"  class="form-check-input" id="radio1" [ngModel]="CheckValue" name="pos{{i}}{{j}}" [value]="op.pos5+'5'">
                                                                                {{op.pos5}}
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-8 pointer gh" (click)="selectPlayerl(op,op.pos5,i,j,5)" *ngIf="!this.checkedValue" [ngClass]="{'bgYellow': (selectedPlayer && selectedPlayer.player_name == op.pos5 && isLocate == true) || (one_click==i && button_single==j &&selectedPlayer.player_name === op.pos5 && static_Id == 5) ? true : false} "> 
                                                                            <div >
                                                                                {{op.pos5}}
                                                                            </div>                                                                                
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                            </div>                                                            
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                        </div>
                                        <br />
                                        <div class="col-sm-12">
                                            <div class="left">
                                               <button type="button" class="btn_black1" (click)="highlightPlayer()" [disabled]="button_disable">HIGHLIGHT</button>                                               
                                            </div>                                            
                                            <h5 class="rr">Mulitple Selection</h5>
                                            <div class="tt">
                                                <toggle-button (changed)="multcheck($event)"></toggle-button>                                  
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>


                                

                                <div class="col-md-4"> 
                                    <div class="leagues-teams-box substitutionpattern-right">
                                        <div class="table-responsive-sm">
                                            <table class="table table-striped">
                                                <thead class="table-dark uth">
                                                    <tr class="sty ipad">                                                       
                                                        <th class="note1 pl-5 w-5">
                                                            PLAYER NAME
                                                        </th>
                                                        <th>240</th>
                                                        <th>POS</th>
                                                        <th class="note2 pr-4">HT</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="media_font">
                                                    <ng-container *ngIf="playersubsData">
                                                        <tr *ngFor="let item of playersubsData.rightdata;let i = index " class="playerRow" [ngClass]="{'activeRow': item.activeRow}">
                                                            <td class="pl-5" (click)="selectPlayer(item)" 
                                                            >{{item.player_name}}</td>
                                                            <td>{{item.minutes}}</td>
                                                            <td>{{item.positions}}</td>
                                                            <td>{{item.height}}</td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="left">
                                                        <button type="button" class="btn_black" (click)="locatPlayer()" [disabled]="locate_disable || this.checkedValue">LOCATE</button>
                                                        
                                                         <button type="button" class="btn_yellow"  (click)="mdl()" [disabled]="locate_disable">CHANGE</button>
                                                        <p-dialog header="Warning" [(visible)]="displayBasic" [style]="{width: '30vw'}">
                                                           <h6> Replacing player in more than one slot. Continue? </h6>
                                                            <button type="button" class="btn_yellow0" (click)="ok()"> Ok</button>
                                                            <button type="button" class="btn_black"(click)="closeModal('dismiss')" > Cancel</button>
                                                            <!-- <button> ok</button>
                                                            <button> cancel</button> -->
                                                        </p-dialog> 

                                                        <!-- <p-button (click)="changePosition()"  class="btn_yellow" [disabled]="locate_disable">CHANGE</p-button> -->
                                                        <!-- <p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
                                                            <p>Lorem ipsum dolor sit amet</p>
                                                            <ng-template pTemplate="footer">
                                                                <p-button icon="pi pi-check" (click)="displayBasic=false" label="Yes" styleClass="p-button-text"></p-button>
                                                                <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
                                                            </ng-template>
                                                        </p-dialog> -->





                                                    </div>
                                                    <div class="right">
                                                        <button type="button" class="btn_yellow"  (click)="onSetSubtitution()" >OK</button>   <!--[disabled]="locate_disable"-->
                                                        <button type="button" class="btn_black" (click)="closed()">CANCEL</button>  <!--(click)="cancel()"-->
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                            <div class="row mb-2">
                                                <div class="col-sm-12">
                                                    <div class="float-left">
                                                        <button type="button" class="btn_black" (click)="openDraftPlayerModal()">DRAFT PLAYER</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
